.contact {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8));
    background-size: cover;
    background-position: center
}

.contact__form-container {
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto
}

@media only screen and (max-width: 37.5em) {
    .contact__form-container {
        padding: 3rem
    }
}

.contact__form-field {
    margin-bottom: 4rem
}

@media only screen and (max-width: 37.5em) {
    .contact__form-field {
        margin-bottom: 3rem
    }
}

.contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left
}

.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600
}

    .contact__form-input::-moz-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input:-ms-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input::placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input::-webkit-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input:-ms-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input::-ms-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input:-moz-placeholder {
        opacity: 1;
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

    .contact__form-input::-moz-placeholder {
        opacity: 1;
        color: #999;
        font-weight: 600;
        font-size: 1.6rem
    }

.contact__btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem
}

.word__h3 {
    font-size: 30px;
    color: rgb(77, 76, 76);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.word__details {
    display: flex;
    gap: 10px;
    color: rgb(82, 81, 81);
    margin: 5px 0 20px 0;
    font-size: 14px;
}
